.bg-dark-blue{
    background-color: blue;
}

.navbar-collapse {
    margin-right: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
/*.navbar-collapse {

    display: flex;
  
    padding-left: 530px;
  
  }*/

